<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="/static/css/style3.css">
    <script src="https://kit.fontawesome.com/fc64ebb6dd.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <header class="header">
            <nav class="navbar">
                <div class="logo-container">
                    <img src="/static/img/logo.jpg" alt="Innovic Spark Logo" class="logo-img">
                    <span class="logo-text">Innovic Spark</span> <!-- Text next to the logo -->
                </div>
                <div class="nav-links" id="navLinks">
                    <!-- <i class="fa fa-times" onclick="hideMenu()"></i> -->
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/chat">CHATBOT</a></li>
                        <li><a href="/">ABOUT</a></li>
                        <li><a href="/course">COURSES</a></li>
                        <li><a href="/">CONTACT</a></li>
                    </ul>
                </div>
                <!-- <i class="fa fa-bars" onclick="showMenu()"></i> -->
            </nav>
        </header>
        <div id="projects">
            <div class="container">
                <h1 class="title2"><span class="highlight">C</span>ourses</h1>
                <div class="project-list">
                    <div>
                        <i class="fa-solid fa-robot"></i>
                        <h2>Robotics</h2>
                        <p>Introduction to robotics, automation, and control systems in various industries.</p>
                        <p>Duration: 2 years</p>
                        <p>Skills: Robotics, Automation, AI</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-brands fa-react"></i>
                        <h2>Full-Stack Web Development</h2>
                        <p>Covers both front-end and back-end web technologies including HTML, CSS, JavaScript, and databases.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: HTML, JavaScript, React, Node.js</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-mobile-screen"></i>
                        <h2>Mobile App Development</h2>
                        <p>Learn to design and build mobile apps for Android and iOS using languages like Swift and Kotlin.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Mobile App Development, Swift, Kotlin</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-chart-line"></i>
                        <h2>Business Analytics</h2>
                        <p>Learn how to analyze and interpret data to make informed business decisions.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: Data Analysis, Decision Making</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-wand-magic-sparkles"></i>
                        <h2>UI/UX Design</h2>
                        <p>Covers user interface design, user experience, wireframing, and prototyping.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: UI Design, Prototyping</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-cloud"></i>
                        <h2>Cloud Computing</h2>
                        <p>Learn cloud platforms like AWS, Azure, and Google Cloud, focusing on architecture and services.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Cloud Infrastructure, DevOps</p>
                        <a href="https://www.geeksforgeeks.org/cloud-computing" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-rotate-right"></i>
                        <h2>DevOps</h2>
                        <p>Learn the integration of development and operations for continuous delivery.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: DevOps, CI/CD, Automation</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-seedling"></i>
                        <h2>Sustainable Energy Engineering</h2>
                        <p>Focus on renewable energy systems, energy efficiency, and green technologies.</p>
                        <p>Duration: 2 years</p>
                        <p>Skills: Solar, Wind Energy Tech</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-brands fa-python"></i>
                        <h2>AI and Machine Learning</h2>
                        <p>Covers neural networks, deep learning, and advanced algorithms in AI.</p>
                        <p>Duration: 1 year</p>
                        <p>Skills: Machine Learning, Python</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                        <h2>Genetic Counseling</h2>
                        <p>Specialized training in genetic risk assessment and medical genetics.</p>
                        <p>Duration: 2 years</p>
                        <p>Skills: Genetics, Counseling</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-link"></i>
                        <h2>FinTech</h2>
                        <p>Introduction to financial technologies such as blockchain, digital payments.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: FinTech, Blockchain</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-file-waveform"></i>
                        <h2>Health Informatics</h2>
                        <p>Focus on managing healthcare information using technology to improve patient care.</p>
                        <p>Duration: 1 year</p>
                        <p>Skills: Health IT, Data Analysis</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-person-chalkboard"></i>
                        <h2>Project Management</h2>
                        <p>Learn the key principles of managing projects, including risk management and agile methodologies.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: Agile, Scrum, Risk Management</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-shield-halved"></i>
                        <h2>Cybersecurity</h2>
                        <p>Learn how to protect systems from cyber threats, ethical hacking, and network security.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Ethical Hacking, Network Security</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-chart-pie"></i>
                        <h2>Graphic Design</h2>
                        <p>Covers design principles, Adobe Creative Suite, and digital illustration techniques.</p>
                        <p>Duration: 3 months</p>
                        <p>Skills: Photoshop, Illustrator, Creativity</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-user-nurse"></i>
                        <h2>Nursing</h2>
                        <p>Comprehensive nursing education covering patient care, anatomy, and clinical practice.</p>
                        <p>Duration: 2 years</p>
                        <p>Skills: Patient Care, Clinical Practice</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-coins"></i>
                        <h2>Financial Planning</h2>
                        <p>Learn how to assess financial risks, retirement planning, and investment strategies.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Financial Analysis, Risk Management</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-building"></i>
                        <h2>Entrepreneurship</h2>
                        <p>Learn the key concepts of starting and growing a business, including finance, marketing, and operations.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: Leadership, Marketing, Business Strategy</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-laptop-medical"></i>
                        <h2>Public Health</h2>
                        <p>Explore epidemiology, health policy, and healthcare systems to improve community health.</p>
                        <p>Duration: 1 year</p>
                        <p>Skills: Epidemiology, Health Policy</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-wifi"></i>
                        <h2>Internet of Things (IoT)</h2>
                        <p>Learn to connect and control smart devices through IoT platforms and networks.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: IoT, Sensor Technology</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-money-bill-trend-up"></i>
                        <h2>Investment Banking</h2>
                        <p>Focus on mergers, acquisitions, capital markets, and financial modeling.</p>
                        <p>Duration: 1 year</p>
                        <p>Skills: Financial Modeling, M&A</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-building-user"></i>
                        <h2>Civil Engineering</h2>
                        <p>Learn construction, infrastructure design, and environmental impact assessments.</p>
                        <p>Duration: 4 year</p>
                        <p>Skills: Structural Design, Environmental Engineering</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-nodes"></i>
                        <h2>Interior Design</h2>
                        <p>Study principles of interior spaces, including color theory and spatial planning.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Space Planning, Aesthetics</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-vr-cardboard"></i>
                        <h2>VR/AR Development</h2>
                        <p>Learn to create immersive virtual and augmented reality experiences.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: VR, AR, Unity, Unreal Engine</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <h2>Supply Chain Management</h2>
                        <p>Study the process of managing the flow of goods, information, and finances.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Logistics, Procurement</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-house-medical-circle-check"></i>
                        <h2>Occupational Therapy</h2>
                        <p>Training in helping people overcome physical challenges to improve daily activities.</p>
                        <p>Duration: 2 years</p>
                        <p>Skills: Therapy, Rehabilitation</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-brain"></i>
                        <h2>Artificial Intelligence (AI) Ethics</h2>
                        <p>Learn ethical considerations in AI development and applications.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: AI Ethics, Governance </p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-cart-shopping"></i>
                        <h2>E-commerce Management</h2>
                        <p>Covers strategies to manage and grow online businesses and marketplaces.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: E-commerce, Digital Marketing</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-heart-pulse"></i>
                        <h2>Biomedical Engineering</h2>
                        <p>Learn to apply engineering principles to medicine and healthcare technology.</p>
                        <p>Duration: 2 years</p>
                        <p>Skills: Bioengineering, Medical Devices</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        <h2>Quantum Computing</h2>
                        <p>Introduction to quantum mechanics and computing, focusing on algorithms and applications.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Quantum Algorithms, Cryptography</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-yen-sign"></i>
                        <h2>Cryptocurrency and Blockchain</h2>
                        <p>Focuses on decentralized finance, cryptocurrencies, and blockchain technology.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: Blockchain, Cryptocurrency</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-bolt"></i>
                        <h2>Renewable Energy Systems</h2>
                        <p>Study renewable energy sources such as solar, wind, and geothermal technologies.</p>
                        <p>Duration: 1 year</p>
                        <p>Skills: Solar Energy, Wind Power</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-hat-cowboy"></i>
                        <h2>Fashion Design</h2>
                        <p>Learn fashion design principles, textile knowledge, and production techniques.</p>
                        <p>Duration: 1 year</p>
                        <p>Skills: Fashion Design, Textile Knowledge</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-book-open-reader"></i>
                        <h2>Leadership and Management</h2>
                        <p>Covers leadership principles, conflict resolution, and organizational management.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Leadership, Conflict Resolution </p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-puzzle-piece"></i>
                        <h2>Game Development</h2>
                        <p>Learn game design, mechanics, and development using engines like Unity and Unreal.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Game Design, Unity, Unreal Engine </p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-chart-column"></i>
                        <h2>Data Science</h2>
                        <p>Learn data manipulation, visualization, and statistical analysis to drive decision-making.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Python, R, Machine Learning</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-square-poll-vertical"></i>
                        <h2>Digital Marketing</h2>
                        <p>Learn SEO, social media marketing, and email campaigns to build digital strategies.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: SEO, Social Media Marketing</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-prescription-bottle-medical"></i>
                        <h2>Telemedicine</h2>
                        <p>Explore the growing field of remote healthcare services and virtual consultations.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: Healthcare Tech, Remote Care</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-gears"></i>
                        <h2>Mechanical Engineering</h2>
                        <p>Learn the fundamentals of mechanics, thermodynamics, and materials science for machine design.</p>
                        <p>Duration: 4 year</p>
                        <p>Skills: CAD, Materials Science</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div> 
                    <div>
                        <i class="fa-solid fa-plane-circle-exclamation"></i>
                        <h2>Animation and Visual Effects</h2>
                        <p>Learn to create animations and visual effects for films, games, and advertisements.</p>
                        <p>Duration: 1 year</p>
                        <p>Skills: 3D Animation, VFX, Maya</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div> 
                    <div>
                        <i class="fa-solid fa-user-lock"></i>
                        <h2>Ethical Hacking</h2>
                        <p>Learn penetration testing techniques and ethical hacking tools to identify vulnerabilities.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: Penetration Testing, Cybersecurity</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>  
                    <div>
                        <i class="fa-solid fa-user-tie"></i>
                        <h2>Human Resource Management</h2>
                        <p>Learn about recruitment, training, and managing employee performance in organizations.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: HR, Organizational Behavior </p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div> 
                    <div>
                        <i class="fa-brands fa-envira"></i>
                        <h2>Environmental Engineering</h2>
                        <p>Study sustainable engineering practices to tackle environmental challenges such as pollution and waste management.</p>
                        <p>Duration: 2 years </p>
                        <p>Skills: Environmental Science, Waste Management</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>  
                    <div>
                        <i class="fa-solid fa-user-tie"></i>
                        <h2>Augmented Reality (AR)</h2>
                        <p>Learn to develop AR applications and experiences using ARKit, ARCore, and other tools.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: AR Development, Unity</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-business-time"></i>
                        <h2>International Business</h2>
                        <p>Study global business practices, international trade, and cross-cultural management.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Global Trade, Cross-Cultural Communication</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-house-chimney-medical"></i>
                        <h2>Clinical Research</h2>
                        <p>Learn the processes and methodologies involved in conducting clinical trials and research.</p>
                        <p>Duration: 1 year</p>
                        <p>Skills:Research Methodology, Data Analysis </p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-cloud-arrow-down"></i>
                        <h2>Cloud Security</h2>
                        <p>Focus on securing cloud environments and data against cyber threats and breaches.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: Cloud Security, Threat Management </p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-house-chimney-medical"></i>
                        <h2>Corporate Finance</h2>
                        <p>Covers financial analysis, planning, and management within corporations.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Financial Analysis, Corporate Strategy </p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-user-astronaut"></i>
                        <h2>Structural Engineering</h2>
                        <p>Study the design and analysis of structures such as bridges, buildings, and dams.</p>
                        <p>Duration: 2 years</p>
                        <p>Skills: Structural Analysis, CAD </p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-brands fa-nfc-directional"></i>
                        <h2>Data Engineering</h2>
                        <p>Focus on designing and managing data pipelines and architectures for big data processing.</p>
                        <p>Duration: 6 months</p>
                        <p>Skills: Data Pipelines, Big Data</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-landmark"></i>
                        <h2>Startups and Venture Capital</h2>
                        <p>Learn how to launch startups, raise venture capital, and scale new businesses.</p>
                        <p>Duration: 4 months</p>
                        <p>Skills: Venture Capital, Business Development</p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-brands fa-codiepie"></i>
                        <h2>Nutrition and Dietetics</h2>
                        <p>Study the principles of nutrition and diet planning for health and wellness.</p>
                        <p>Duration: 1 year</p>
                        <p>Skills: Nutrition, Diet Planning </p>
                        <a href="/" target="_blank" class="learn-more">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Toggle menu on mobile
        function showMenu() {
            document.getElementById("navLinks").style.right = "0"; // Show menu
        }

        function hideMenu() {
            document.getElementById("navLinks").style.right = "-200px"; // Hide menu
        }
    </script>
</body>
</html>
