body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #f7f2ed; 
    padding: 20px;
    text-align: center;
    position: scroll;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.nav-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 150%;
}

.nav-links ul li {
    margin-right: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #333;
}

.question {
    margin-bottom: 20px;
}

.options label {
    display: block;
    margin-bottom: 5px;
}

.navigation {
    margin-top: 20px;
    text-align: center;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
    margin-left: 450px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

button{
    padding: 8px;
    background-color: rgb(9, 99, 226);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgb(20, 20, 20);
}

button:hover {
    background-color: #065dba;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
p{
    font-size: large;
    font-weight: 600;
}

.Label{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 10px;
}

.group{
    background: rgba(160, 159, 159, 0.3);
    height: 30px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: 2px solid black;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
}

.container form select{
    background: rgba(160, 159, 159, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: 2px solid black;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
}

#questions-container{
    font-size: 20px;
    font-weight: 600;
}

.option{
    height: 15px;
    width: 15px;
    margin: 15px 5px 0 10px;
}